#formulario-almacen{
    margin: 0 auto;
    padding: 1.3em;
    max-width: 30em;
    /*background-color: #0D6EFD;*/
    border: 2px solid #0D6EFD;
    color: #0D6EFD;
    border-radius: 20px;
    
}

#formulario-logistica{
    margin: 0 auto;
    padding: 1.3em;
    max-width: 30em;
    /*background-color: #0D6EFD;*/
    border: 5px solid #0D6EFD;
    color: #0D6EFD;
    border-radius: 20px;
    
}

#comentarios{
    resize:none;
    height: 5em;
}


.img-login{
    width: 150px;
    display: block;
    margin: 5px auto;;
}

.img-proceso{
    width: 700px;
    display: block;
    margin: 5px auto;;
}

.imagen-pedido{
    align-items: center;
    width: 250px;
    display: block;
    margin: 5px auto;
    margin-bottom: 5px;
}

.imagen-pedido:hover{
    transition: all 0.2s ;
    transform: scale(1.8);
    cursor: pointer;
    
}

#login{
    margin: 0 auto;
    padding: 1.3em;
    max-width: 30em;
}

.a-nav:hover{
    cursor: pointer;
}

#titulo-kanban{
    color: #0D6EFD;
    margin-top: 15px;
}
#card-pedido{
    color: #0D6EFD;
}
#card-cita{
    background-color: #0077aB;
    color: white;
}
#card-unidad{
    background-color: #00B9c2;
    color: white;
}
#card-externo{
    background-color: #00B9c2;
    color: white;
}
#card-chofer{
    background-color: #009bdb;
    color: white;
}
#card-carga{
    background-color: #00adf5;
    color: white;
}
#card-reparto{
    background-color: #0fb9ff;
    color: white;
}
#card-entrega{
    background-color: #0077aB;
    color: white;
}

/* CSS PANTALLA DE loader*/

.contenedor_loader{
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader:before,
.loader:after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader{
    color: #3358ff;
    font-size: 15px;
    position: relative;
    animation-delay: -0.16;
}

.loader:before,
.loader:after{
    content: '';
    position: absolute;
    top:0;
}

.loader:before{
    left: -3.5em;
}

.loader:after{
    left: 3.5em;
    animation-delay: -0.32s;
}

@keyframes loader{
    0%,
    80%,
    100%{
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow: 0 2.5em 0 0;
    }
}

.img-pedido, .img-cita, .img-transporte, .img-carga, .img-reparto, .img-entrega {
    align-items: center;
    width: 200px;
    display: block;
    
    margin: 5px auto;
    margin-bottom: 5px;
}
